.header-container{

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

h1{
    font-size: 80pt;
    text-align: center;
    color: darkgreen;
    background-color: palegoldenrod;
    margin: 0pt;
}
h2{
    text-align: center;
    background-color: palegoldenrod;
    font-size: 30pt;
    margin: 0pt;
}

.header-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 30px 30px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.header-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}