<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand">Fitness forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#" th:href="@{/}">Home</a></li>
                <li class="nav-item" th:if="${isAuthenticated}"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#"
                                                                   th:href="@{/posts}">Posts</a></li>
                <li class="nav-item" th:if="${isAuthenticated}" th:unless="${!session.isUserAdmin}"><a
                        class="nav-link px-lg-3 py-3 py-lg-4"
                        href="#" th:href="@{/users}">Users</a></li>

                <li class="nav-item" th:if="${isAuthenticated}" th:unless="${!session.isUserAdmin}">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="#" th:href="@{/tags}">Tags</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#" th:href="@{/phones}">Contact</a>
                </li>
                <li class="nav-item" th:unless="${isAuthenticated}">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/authentication/login}" href="#">Login</a></li>
                <li class="nav-item" th:unless="${isAuthenticated}">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/users/new}" href="#">Register</a></li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/authentication/logout}" href="#">Logout</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/users/{userId}(userId = ${currentUserId})}"
                       th:text="'Welcome, ' + ${session.currentUser}">Welcome</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>