<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Access Denied</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_error.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <h2 th:text="#{error.access-denied}">Access Denied</h2>
            <h3 class="error" th:text="${error}">Error placeholder</h3>

        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>
</body>
</html>