<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Edit Comment</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>

<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_comments.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2>Update Comment</h2>

            <hr class="my-4"/>

            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${comment}" method="post">

                <label th:text="#{comment.label.content}">Comment Content</label>
                <br/>
                <textarea name="textarea" rows="4" cols="63" th:field="*{content}"></textarea>
                <label class="error" th:errors="*{content}">Comment content error placeholder</label>
                <br/><br/>

                <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>

            </form>

            <hr class="my-4"/>

            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#"
                   th:href="@{'/posts/' + ${postId} + '/comments/' + ${commentId}}" th:text="#{navigation.one-post}">Return</a>
            </div>

        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>
</body>
</html>