<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>ALL COMMENTS</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_comments.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Comments Section-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <a href="#" th:href="@{/posts/{postId}(postId=${post.getPostId()})}">
                <h2 th:text="${post.getTitle()}">Post Title</h2></a>

            <div th:unless="${user.isBlocked()}" class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#"
                   th:href="@{/posts/{postId}/comments/new(postId=${postId})}">Comment post</a>
            </div>

            <hr class="my-4"/>

            <div class="post-title" id="top-ten-posts">All Comments</div>

            <hr class="my-4"/>

            <form action="#" th:action="@{'/posts/' + ${postId} + '/comments/'}" method="get" th:object="${filter}">
                <label th:text="#{filter.options}">Filter Options</label>
                </br>
                <input type="text" placeholder="content" th:field="*{content}"/>
                </br>
                <input type="text" placeholder="username" th:field="*{username}"/>
                </br>

                <select th:field="*{sortBy}">
                    <option value="">Sort By</option>
                    <option value="content">Content</option>
                    <option value="username">Username</option>
                </select>
                <select th:field="*{orderBy}">
                    <option value="">Order By</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                </br></br>

                <input class="btn btn-primary text-uppercase" type="submit" value="Search"/>
                </br></br>
            </form>


            <div th:if="${commentList.isEmpty()}">
                <div class="post-title" th:text="#{post.comments.empty}">No comments</div>
            </div>


            <div th:unless="${commentList.isEmpty()}">
                <!-- Comments preview-->
                <div class="post-subtitle" th:each="comment : ${commentList}">
                    <h5><a href="#" th:href="@{'/posts/' + ${postId} + '/comments/' + ${comment.commentId}}"
                           th:text="${comment.getContent()}">Comment content</a></h5>

                    <p class="post-meta">
                        Commented by
                        <text th:text="${comment.getUser().username}">Username</text>
                    </p>
                    <!-- Divider-->
                    <hr class="my-4"/>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>
</body>
</html>