<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>SHOW SINGLE COMMENT</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_comments.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <a href="#" th:href="@{/posts/{postId}(postId=${post.getPostId()})}">
                <h2 th:text="${post.getTitle()}">Post Title</h2>
            </a>
            <hr class="my-4"/>
            <div class="post-title" id="top-ten-posts">Single Comment</div>
            <hr class="my-4"/>

            <label th:text="#{user.label.username}">Username</label>
            <h5 th:text="${comment.getUser().getUsername()}">Username</h5>
            <label th:text="#{comment.label.content}">Comment content</label>
            <h5 th:text="${comment.getContent()}">Content</h5>

            <hr class="my-4"/>

            <div th:unless="${user.isBlocked()}"
                 th:if="${comment.getUser().getUserId()}==${user.getUserId()} or ${user.isAdmin()}"
                 class="d-flex justify-content-start mb-4">
                <a class="btn btn-primary text-uppercase" href="#"
                   th:href="@{'/posts/' + ${postId} + '/comments/' + ${commentId} + '/update'}">Update comment</a>

                <a class="btn btn-primary text-uppercase mb-7" href="#"
                   th:href="@{'/posts/' + ${postId} + '/comments/' + ${commentId} + '/delete'}">Delete comment</a></div>

        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>
</body>
</html>