<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Like Form Fragment</title>
</head>
<body>

<form th:fragment="like-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${likeDto}" method="post">
    <label th:text="#{like.label.direction}">Direction</label>
    <br/>
    <select th:field="*{upOrDown}">
        <option th:value="true"
                th:text="like">
            True
        </option>
        <option th:value="false"
                th:text="dislike">
            False
        </option>
    </select>
    <br/><br/>

    <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>

</form>

</body>
</html>