<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>All posts</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>

<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_like.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

<div th:if="${likesToSinglePost.isEmpty()}">
    <div class="post-title" th:text="#{likesToSinglePost.title.empty}">No Likes</div>
</div>
<div th:unless="${likesToSinglePost.isEmpty()}">
    <div class="post-title" id="top-ten-posts" th:text="#{likesToSinglePost.title}">All likes to this post</div>

    <hr class="my-4"/>
    <div class="telerik-table">
        <div class="telerik-header">
            <div class="telerik-cell" th:text="#{likesToSinglePost.label.upOrDown}">UpOrDown</div>
            <div class="telerik-cell" th:text="#{likesToSinglePost.label.username}">Username</div>
        </div>
        <div class="telerik-row" th:each="likeDtoOut : ${likesToSinglePost}">
            <div class="telerik-cell" th:text="${likeDtoOut.upOrDown}">UpOrDown</div>
            <div class="telerik-cell" th:text="${likeDtoOut.username}">Username</div>
        </div>
    </div>
</div>

            <!-- Divider-->
            <hr class="my-4"/>

            <!-- Pager-->
            <div th:unless="${currentUserLikesThisPost} or ${user.getUserId()}==${post.getUser().getUserId()}
                    or ${user.isBlocked()}"
                 class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#"
                                                            th:href="@{/posts/{postId}/likes/new(postId=${postId})}"
                                                            th:text="#{navigation.create-like}">Test</a></div>

            <div th:if="${currentUserLikesThisPost}"
                 th:unless="${user.isBlocked()}"
                 class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#"
                                                            th:href="@{/posts/{postId}/likes/delete(postId=${postId})}"
                                                            th:text="#{navigation.delete-like}">Test</a></div>


        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>
</body>
</html>