<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Login</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>

<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_log.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 margin-bottom-10">

            <h2>Login</h2>
            <form action="#" th:action="@{/authentication/login}" th:object="${login}" method="post">
                <label th:text="#{user.label.username}">Username</label>
                <br/>
                <input type="text" th:field="*{username}"/>
                <label class="error" th:errors="*{username}">Username error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.password}">Password</label>
                <br/>
                <input type="password" th:field="*{password}"/>
                <label class="error" th:errors="*{password}">Password error placeholder</label>
                <br/><br/>

                <input class="btn btn-primary text-uppercase" type="submit" value="Login"/>
            </form>
            <br/>
        </div>
    </div>
</div>

<!-- Footer-->
<div th:replace="/fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>
</body>
</html>