<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>All posts</title>
  <link th:replace="/fragments/resources :: favicon"/>
  <script th:replace="/fragments/resources :: icons"></script>
  <link th:replace="/fragments/resources :: googleFont"/>
  <link th:replace="/fragments/resources :: googleFontTwo"/>
  <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>

<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_post.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Fitness forum</h1>
          <span class="subheading">Welcome to our awesome fitness forum!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      <div th:if="${mostLikedPosts.isEmpty()}">
        <div class="post-title" th:text="#{posts.title.empty}">No posts</div>
      </div>

      <div th:unless="${mostLikedPosts.isEmpty()}">
        <div class="post-title" id="top-ten-posts" th:text="#{post.most-liked}">Most liked posts</div>
      </div>

      <!-- Pager-->
      <div th:unless="${user.isBlocked()}"
           class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/posts/new"
                                                      th:href="@{/posts/new}" th:text="#{navigation.create-post}">Test</a>
      </div>

      <!-- Post Section-->
      <section th:if="${not #lists.isEmpty(mostLikedPosts)}" class="post-preview">

        <!-- Post preview-->
        <div th:each="post : ${mostLikedPosts}" class="post-preview">
          <a href="../static/post.html" th:href="@{/posts/{id}(id=${post.getPostId()})}">
            <h2 class="post-title" th:text="${post.getTitle()}">Post Title</h2>
            <h3 class="post-subtitle" th:text="${post.getContent()}">Post content</h3>
          </a>
          <p class="post-meta">
            Posted by
            <text th:text="${post.getUsername()}">Username</text>
            on
            <text th:text="${post.getDateCreated()}">Date created</text>
          </p>

          <p class="post-meta">
            Likes count:
            <text th:text="${post.getLikesCount()}">Likes count</text>
            <br/>
            Dislikes count:
            <text th:text="${post.getDislikesCount()}">Dislikes count</text>
          </p>

        </div>
        <!-- Divider-->
        <hr class="my-4"/>

      </section>


    </div>
  </div>
</div>

<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>