<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Form Fragment</title>
</head>
<body>
<form th:fragment="post-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${postDto}" method="post">
    <label th:text="#{post.label.title}">Post</label>
    <br/>
    <textarea name="textarea" rows="1" cols="63" th:field="*{title}"></textarea>
    <label class="error" th:errors="*{title}">Title error placeholder</label>
    <br/><br/>

    <label th:text="#{post.label.content}">Content</label>
    <br/>
    <textarea name="textarea" rows="4" cols="63" th:field="*{content}"></textarea>
    <label class="error" th:errors="*{content}">Content error placeholder</label>
    <br/><br/>

  <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>


</form>
</body>
</html>