<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag From Fragment</title>
</head>
<body>
<form th:fragment="tag-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${tagDto}" method="post">
    <label
            th:text="#{tag.label.title}">Tag</label>
    <br/>
    <input type="text" th:field="*{title}"/>
    <label class="error" th:errors="*{title}">Title error placeholder</label>
    <br/><br/>
    <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>
</form>

</body>
</html>