<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>All posts</title>
  <link th:replace="/fragments/resources :: favicon"/>
  <script th:replace="/fragments/resources :: icons"></script>
  <link th:replace="/fragments/resources :: googleFont"/>
  <link th:replace="/fragments/resources :: googleFontTwo"/>
  <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>

<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_tag.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Fitness forum</h1>
          <span class="subheading">Welcome to our awesome fitness forum!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">


      <div th:if="${tags.isEmpty()}">
        <div class="post-title" th:text="#{tags.title.empty}">No tags</div>
      </div>

      <div th:unless="${tags.isEmpty()}">
        <div class="post-title" id="top-ten-posts" th:text="#{tags.title}">All tags
        </div>

        <hr class="my-4"/>
        <div class="telerik-table">
          <div class="telerik-header">
            <div class="telerik-cell" th:text="#{tag.label.title}">Tag title</div>
            <div th:unless="${user.isBlocked()}"
                 class="telerik-cell" th:text="#{table.action}">Test action</div>
            <div th:unless="${user.isBlocked()}"
                 class="telerik-cell" th:text="#{table.action}">Test action</div>
          </div>
          <div class="telerik-row" th:each="tag : ${tags}">
            <div class="telerik-cell" th:text="${tag.getTitle()}">Tag title</div>
            <div th:unless="${user.isBlocked()}"
                 class="telerik-cell">
              <a class="update" href="#"
                 th:href="@{'/tags/' + ${tag.getTagId()} + '/update'}"
                 th:text="#{navigation.update-tag}">Test update tag</a>
            </div>
            <div th:unless="${user.isBlocked()}"
                 class="telerik-cell">
              <a class="delete" href="#"
                 th:href="@{'/tags/' + ${tag.getTagId()} + '/delete'}"
                 th:text="#{navigation.delete-tag}">Test delete tag</a>
            </div>
          </div>

        </div>
      </div>

      <!-- Divider-->
      <hr class="my-4"/>


    </div>
  </div>
</div>

<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>