<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>All posts</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>

<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_tag.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

<!--    <h2>Add tags</h2>-->


    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${tagsForm}" method="post" :errors>

        <fieldset>
            <table>
                <thead>
                <tr>
                    <th> <h2>Add tags</h2></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tag, itemStat : *{inputTags}">
                    <td><input th:field="*{inputTags[__${itemStat.index}__].title}" /></td>
<!--                    <label class="error" th:if="${#fields.hasErrors('inputTags[__${itemStat.index}__].title')}" th:errors="*{inputTags[__${itemStat.index}__].title}">Error!</label>-->
                </tr>
                </tbody>
            </table>
            <input class="btn btn-primary text-uppercase" type="submit" id="submitButton" th:value="Save">
            <input class="btn btn-primary text-uppercase" type="reset" id="resetButton" name="reset" th:value="Reset"/>
        </fieldset>
        <div th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li class="error" th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </ul>
        </div>
    </form>



            <hr class="my-4"/>

            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#"
                   th:href="@{/posts/{postId}(postId = ${postId})}" th:text="#{navigation.one-users}">Return</a>
            </div>

        </div>
    </div>
</div>

<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>