<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="${user.username}">User Profile</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_users.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <div class="post-title" id="top-ten-posts" th:text="#{user.label.information}">User information</div>

            <hr class="my-4"/>

            <label th:text="#{user.label.full.name}">Full name</label>
            <h5 th:text="${user.firstName + ' ' + user.lastName}">Jonny Bravo</h5>

            <label th:text="#{user.label.email}">Email</label>
            <h5 th:text="${user.email}">jonny@bravo.abv</h5>

            <label th:text="#{user.label.username}">Username</label>
            <h5 th:text="${user.username}">Jonny</h5>

            <label th:text="#{user.label.isAdmin}">IsAdmin</label>
            <h5 th:text="${user.admin ? true : false}">yes</h5>

            <label th:text="#{user.label.isBlocked}">IsBlocked</label>
            <h5 th:text="${user.blocked ? true : false}">yes</h5>

            <hr class="my-4"/>

            <div class="d-flex justify-content-start mb-4">
                <a class="btn btn-primary text-uppercase" href="#"
                   th:href="@{/users/{userId}/update(userId = ${user.getUserId()})}"
                   th:text="#{navigation.update-user}">Update user</a>

                <a class="btn btn-primary text-uppercase mb-7" href="#"
                   th:href="@{/users/{userId}/delete(userId = ${user.getUserId()})}"
                   th:text="#{navigation.delete-user}">Delete user</a></div>

        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="/fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>
