<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Edit User As Admin</title>
    <link th:replace="/fragments/resources :: favicon"/>
    <script th:replace="/fragments/resources :: icons"></script>
    <link th:replace="/fragments/resources :: googleFont"/>
    <link th:replace="/fragments/resources :: googleFontTwo"/>
    <link th:replace="/fragments/resources :: stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/fitness_users.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Fitness forum</h1>
                    <span class="subheading">Welcome to our awesome fitness forum!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2>Edit User</h2>

            <hr class="my-4"/>

            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" method="post">
                <label th:text="#{user.label.firstname}">First Name</label>
                <br/>
                <input th:field="*{firstName}"/>
                <label class="error" th:errors="*{firstName}">First Name error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.lastname}">Last Name</label>
                <br/>
                <input th:field="*{lastName}"/>
                <label class="error" th:errors="*{lastName}">Last Name error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.email}">Email</label>
                <br/>
                <input th:field="*{email}"/>
                <label class="error" th:errors="*{email}">Email error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.username}">Username</label>
                <br/>
                <input th:field="*{username}"/>
                <label class="error" th:errors="*{username}">Username error placeholder</label>
                <br/><br/>

                <label th:text="#{user.label.password}">Password</label>
                <br/>
                <input th:field="*{password}"/>
                <label class="error" th:errors="*{password}">Password error placeholder</label>
                <br/><br/>

                <label>Is Admin </label>
                <select th:field="*{admin}">
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
                <br/><br/>

                <label>Is Blocked </label>
                <select th:field="*{blocked}">
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
                <br/><br/>

                <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>
            </form>

            <hr class="my-4"/>

            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#"
                   th:href="@{/users}" th:text="#{navigation.one-users}">Return</a>
            </div>

        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer">Footer fragment</div>

<div th:replace="/fragments/scripts :: scripts">JavaScript scripts</div>

</body>
</html>