<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form Fragment</title>
</head>
<body>

<form th:fragment="user-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}"
      method="post">

    <label th:text="#{user.label.firstname}">First Name</label>
    <br/>
    <input th:field="*{firstName}"/>
    <label class="error" th:errors="*{firstName}">First Name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.lastname}">Last Name</label>
    <br/>
    <input th:field="*{lastName}"/>
    <label class="error" th:errors="*{lastName}">Last Name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.email}">Email</label>
    <br/>
    <input th:field="*{email}"/>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.username}">Email</label>
    <br/>
    <input th:field="*{username}"/>
    <label class="error" th:errors="*{username}">Username error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.password}">Password</label>
    <br/>
    <input th:field="*{password}"/>
    <label class="error" th:errors="*{password}">Password error placeholder</label>
    <br/><br/>

    <input class="btn btn-primary text-uppercase" type="submit" value="Save"/>
</form>

</body>
</html>